<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeg.community.mapper.LoginTicketMapper">
    <insert id="insertTicket" parameterType="LoginTicket" keyProperty="id">
        insert into community.login_ticket(user_id,ticket,status,expired)
        values (#{userId},#{ticket},#{status},#{expired});
    </insert>

    <select id="selectByTicket" resultType="LoginTicket">
        select id,user_id,ticket,status,expired
        from community.login_ticket where ticket=#{ticket}
    </select>

    <update id="updateStatus" >
        update community.login_ticket set status=#{status} where ticket=#{ticket}
    </update>
</mapper>